.container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.input-label {
  display: flex;
  flex-direction: column;
}

.employment-input-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.input-group-container {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}

.add-btn {
  margin-left: 0.5rem;
  height: 50%;
  width: 20%;
  align-self: flex-end;
}

.second-division {
  margin-left: 0.5rem;
  align-self: flex-end;
}
