.navContainer {
	font-size: 1.2rem;
	position: absolute;
	position: fixed;
	padding: 1rem 0rem;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  display: flex;
	border-radius: 1rem;
	height: auto;
	width: 40%;
	background-color: #EBECED;
}

nav {
	width: 100%;
	margin: 0;
}

ul {
	display: flex;
	width: 100%;
	padding-left: 0;
  list-style-type: none;
	flex-direction: column;
}
