.container {
    border: 1px solid #9B9A97;
    box-shadow: 2px 2px 12px #dadada, -1px -1px 12px #ffffff !important;
    border-radius: 1rem;
    width: 98%;
    height: 98%;
    margin-left: 0.2rem;
    overflow: auto;
}